.header {
  display: flex;
  width: 100%;
  background-color: #b79ced;
  height: 70px;
  padding: 0;
}

.sub_header h1 {
  color: white;

  font-family: Arial, Helvetica, sans-serif;

  text-align: left;
}

.sub_header {
  padding: 0.1rem 1rem;
}
